<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Index of Cakes</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body>
    <div class="restaurant">
        <h1 class="bakery">Biscoff Bakery</h1>
            <a href="/bakedgoods/new" >Create a New Cake </a>
            <a href="/bakedgoods">All products</a>
    </div>

</body>

</html>